export TF_VAR_pve_url=$(pass tf_pve_url)
export PROXMOX_VE_USERNAME=$(pass TF_PROXMOX_VE_USERNAME)
export PROXMOX_VE_PASSWORD=$(pass TF_PROXMOX_VE_PASSWORD)
export TF_VAR_git_pat_token=$(pass TF_GIT_PAT_TOKEN)
export TF_VAR_sops_key=$(pass TF_VAR_SOPS_KEY)
export AWS_ACCESS_KEY_ID=$(pass TF_VAR_TOFU_S3_BACKEND_ACCESS_KEY)
export AWS_SECRET_ACCESS_KEY=$(pass TF_VAR_TOFU_S3_BACKEND_SECRET_KEY)
export AWS_S3_ENDPOINT=https://s3.pipenberg.eu
export AWS_REGION=garage
